*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.cuadrados{
    display: flex;
}
.cuadrado{
    padding: 3%;
    text-align: center;
    background-color: aqua;
    border: 2px, solid,black;
    margin: 2%;
}